.main-container{
  display: flex;
  flex-direction: column;
}

.navbar{
  padding: 1.5rem 1rem;
  border-bottom:3px solid #e5e7eb;
}

.blog-list-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.blog-list{
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.2rem;
}

.image-container{
  border-radius: 0.2rem;
  overflow: hidden;
}

.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.heading-container span{
  align-self: end;
}
