<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--  :host {-->
<!--    &#45;&#45;bright-blue: oklch(51.01% 0.274 263.83);-->
<!--    &#45;&#45;electric-violet: oklch(53.18% 0.28 296.97);-->
<!--    &#45;&#45;french-violet: oklch(47.66% 0.246 305.88);-->
<!--    &#45;&#45;vivid-pink: oklch(69.02% 0.277 332.77);-->
<!--    &#45;&#45;hot-red: oklch(61.42% 0.238 15.34);-->
<!--    &#45;&#45;orange-red: oklch(63.32% 0.24 31.68);-->

<!--    &#45;&#45;gray-900: oklch(19.37% 0.006 300.98);-->
<!--    &#45;&#45;gray-700: oklch(36.98% 0.014 302.71);-->
<!--    &#45;&#45;gray-400: oklch(70.9% 0.015 304.04);-->

<!--    &#45;&#45;red-to-pink-to-purple-vertical-gradient: linear-gradient(-->
<!--      180deg,-->
<!--      var(&#45;&#45;orange-red) 0%,-->
<!--      var(&#45;&#45;vivid-pink) 50%,-->
<!--      var(&#45;&#45;electric-violet) 100%-->
<!--    );-->

<!--    &#45;&#45;red-to-pink-to-purple-horizontal-gradient: linear-gradient(-->
<!--      90deg,-->
<!--      var(&#45;&#45;orange-red) 0%,-->
<!--      var(&#45;&#45;vivid-pink) 50%,-->
<!--      var(&#45;&#45;electric-violet) 100%-->
<!--    );-->

<!--    &#45;&#45;pill-accent: var(&#45;&#45;bright-blue);-->

<!--    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,-->
<!--      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",-->
<!--      "Segoe UI Symbol";-->
<!--    box-sizing: border-box;-->
<!--    -webkit-font-smoothing: antialiased;-->
<!--    -moz-osx-font-smoothing: grayscale;-->
<!--  }-->

<app-sidebar></app-sidebar>
