<nav class = "sidenav">

  <div class="logo">
    <mat-icon>event_note</mat-icon>
    <span>Dev Dairies</span>
  </div>

  <div class="blog-fav-section">
     <a>
       <mat-icon>event_note</mat-icon>
       <span>All Blogs</span>
     </a>
     <a>
       <mat-icon>favorite_border</mat-icon>
       <span>My Favourite</span>
     </a>
  </div>

  <div class = "topics">
    <p><mat-icon>event_note</mat-icon> Available Topic</p>
    <div class = "topic-list">
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>

      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>
      <a>topics 1</a>

    </div>
  </div>

  <div class="bio">
    <p class="font-bold">Hi! Glad to see you here..</p>
    <p>Please take your time and read our blogs. These are written to provide you with all the details you need :)</p>

    <div class="profile">
      <div class="image-container">
        <img/>
      </div>
      <div class="role">
        <p class="font-bold">Ravi Rawat</p>
        <p>.NET Fullstack Developer</p>
      </div>
    </div>
  </div>
</nav>
