<nav class = "sidenav">
  <div class="logo">
    <mat-icon>event_note</mat-icon>
    <p>Dev Dairies</p>
  </div>
  <div class="blog-fav-section">
     <a>
       <mat-icon>event_note</mat-icon>
       <span>All Blogs</span>
     </a>
     <a>
       <mat-icon>favorite_border</mat-icon>
       <span>My Favourite</span>
     </a>
  </div>

  <div class = "topics">
    <h3>Available topics</h3>
    <ul>
      <li>topics 1</li>
      <li>topics 1</li>
      <li>topics 1</li>
      <li>topics 1</li>
      <li>topics 1</li>
      <li>topics 1</li>
    </ul>
  </div>

  <div class="bio">
    <p>Hi! Glad to see you here..</p>
    <p>a big text sections</p>

    <div class="profile">
      <div class="image-container">
        <img/>
      </div>
      <div>
        <p>Ravi Rawat</p>
        <p>.NET Fullstack Developer</p>
      </div>
    </div>
  </div>
</nav>
